@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');



html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}


body{
    background-color: black;
}


.btn{
    
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
    text-decoration: none;
}


.header{
    background-color: black;
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    justify-content: space-around;
    height: 65px;

}
.header h1{
    display: inline-flex;
    color: blue;

}
.header h1 span{
    color: aqua;
}
.header nav ul{
    display: inline-block;
}

.header nav ul li{
    display: inline-block;
}


.header nav a{
    display: inline-block;
    color: white;
    text-decoration: none;
    justify-content: space-between;
    padding: 40px;

}


.header ul{
    list-style: none;
    display: flex;
    

}
.header ul li{
    padding: 10px 55px;
    padding-right: 10px;
    position: relative;
    
}
.header ul a{
    color: cadetblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: wavy;
    font-size: 20px;
    transition: all 0.3s;
}
.header ul a:hover{
    color: blue;
}

.icons{
    color: aqua;
    size: 40px;
}

.home h1{
    text-align: center;
    color: #29d9d5;
    font-size: 50px;
    margin-top: 90px;
    font-family: 'Raleway', sans-serif;


}

.gallery .box-container {
    -webkit-columns: 3 25rem;
            columns: 3 25rem;
    -webkit-column-gap: 1.5rem;
            column-gap: 1.5rem;
  }
  
  .gallery .box-container .box {
    margin-bottom: 1rem;
    -webkit-column-break-inside: avoid;
            break-inside: avoid;
  }
  
  .gallery .box-container .box img {
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }
  
  .gallery .box-container .box span {
    font-size: 1.4rem;
    color: #aaa;
  }
  
  .gallery .box-container .box h3 {
    margin-top: .5rem;
    font-size: 2rem;
    color: #fff;
  }
  







  .footer{
    background: #222;
    text-align: center;
}

.footer .share{
    padding:1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: cornflowerblue;
    border:var(--border);
    margin:.3rem;
    border-radius: 50%;
    text-decoration: none;
}

.footer .share a:hover{
    background-color:  white;
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
    
    text-decoration: none;
}

.footer .links a{
    padding:.7rem 2rem;
    color: aqua;
    border:var(--border);
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;;
    text-decoration: none;
}

.footer .links a:hover{
    background: linen;
}

.footer .credit{
    font-size: 2rem;
    color:#fff;
    font-weight: lighter;
    padding:1.5rem;
}

.footer .credit span{
    color: coral;
}












  .credit {
    background: #222;
    text-align: center;
    font-size: 2rem;
    padding: 2rem 1rem;
    color: #aaa;
  }
  
  .credit span {
    color: #29d9d5;
  }
  
.footer .diclaimber{
    background: #222;
    text-align: center;
    font-size: 2rem;
    padding: 2rem 1rem;
    color: #aaa;
    position: fixed;
    bottom: 0px;
}